<!-- ======= Schedule Section ======= -->
<section id="schedule" class="section-with-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>CRONOGRAMA DEL EVENTO</h2>
            <h3 class="sub-heading">Conferencias y Talleres Impartidos</h3>
        </div>

        <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
            <li class="nav-item">
                <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab">Dia 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab">Dia 2</a>
            </li>
        </ul>

        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

            <!-- Schdule Day 1 -->
            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
                <h3 class="">Actividades</h3>
                <ng-container *ngFor="let item of cronogramas">
                    <div class="row schedule-item" *ngIf="item.dia === 1 && item.tipo_actividad === 'otro'">
                        <div class="col-md-2"><time>{{item.hora_inicio}} a {{item.hora_fin}}</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="{{item.curso?.instructor?.fotografia}}" alt="">
                            </div>
                            <h4>{{item.otra_actividad}}</h4>
                            <h4>{{item.curso?.nombre}}</h4>
                            <h4>{{item.empresa?.nombre}}</h4>
                            <p [innerHTML]="item.curso?.objetivo"></p>
                        </div>
                    </div>
                </ng-container>

                <h3 class="mt-4">Talleres</h3>
                <ng-container *ngFor="let item of cronogramas">
                    <div class="row schedule-item" *ngIf="item.dia === 1 && item.tipo_actividad === 'talleres'">
                        <div class="col-md-2"><time>{{item.hora_inicio}} a {{item.hora_fin}}</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="{{item.curso?.instructor?.fotografia}}" alt="">
                            </div>
                            <h4>{{item.curso?.nombre}}</h4>
                            <p>
                                <strong>Instructor: </strong>
                                <span>{{item.curso?.instructor?.nombre}}</span>
                            </p>
                            <p [innerHTML]="item.curso?.objetivo"></p>
                        </div>
                    </div>
                </ng-container>

                <h3 class="mt-4">Visitas Industriales</h3>
                <ng-container *ngFor="let item of cronogramas">
                    <div class="row schedule-item"
                        *ngIf="item.dia === 1 && item.tipo_actividad === 'visitas_industriales'">
                        <div class="col-md-2"><time>{{item.hora_inicio}} a {{item.hora_fin}}</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="{{item.curso?.instructor?.fotografia}}" alt="">
                            </div>
                            <h4>{{item.otra_actividad}}</h4>
                            <h4>{{item.curso?.nombre}}</h4>
                            <h4>{{item.empresa?.nombre}}</h4>
                            <p [innerHTML]="item.curso?.objetivo"></p>
                        </div>
                    </div>
                </ng-container>
            </div>

            <!-- Schdule Day 2 -->
            <div role="tabpanel" class="col-lg-9 tab-pane fade show" id="day-2">
                <h3 class="">Actividades</h3>
                <ng-container *ngFor="let item of cronogramas">
                    <div class="row schedule-item" *ngIf="item.dia === 2 && item.tipo_actividad === 'otro'">
                        <div class="col-md-2"><time>{{item.hora_inicio}} a {{item.hora_fin}}</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="{{item.curso?.instructor?.fotografia}}" alt="">
                            </div>
                            <h4>{{item.otra_actividad}}</h4>
                            <h4>{{item.curso?.nombre}}</h4>
                            <h4>{{item.empresa?.nombre}}</h4>
                            <p [innerHTML]="item.curso?.objetivo"></p>
                        </div>
                    </div>
                </ng-container>

                <h3 class="mt-4">Talleres</h3>
                <ng-container *ngFor="let item of cronogramas">
                    <div class="row schedule-item" *ngIf="item.dia === 2 && item.tipo_actividad === 'talleres'">
                        <div class="col-md-2"><time>{{item.hora_inicio}} a {{item.hora_fin}}</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="{{item.curso?.instructor?.fotografia}}" alt="">
                            </div>
                            <h4>{{item.curso?.nombre}}</h4>
                            <p>
                                <strong>Instructor: </strong>
                                <span>{{item.curso?.instructor?.nombre}}</span>
                            </p>
                            <p [innerHTML]="item.curso?.objetivo"></p>
                        </div>
                    </div>
                </ng-container>

                <h3 class="mt-4">Visitas Industriales</h3>
                <ng-container *ngFor="let item of cronogramas">
                    <div class="row schedule-item"
                        *ngIf="item.dia === 2 && item.tipo_actividad === 'visitas_industriales'">
                        <div class="col-md-2"><time>{{item.hora_inicio}} a {{item.hora_fin}}</time></div>
                        <div class="col-md-10">
                            <div class="speaker">
                                <img src="{{item.curso?.instructor?.fotografia}}" alt="">
                            </div>
                            <h4>{{item.otra_actividad}}</h4>
                            <h4>{{item.curso?.nombre}}</h4>
                            <h4>{{item.empresa?.nombre}}</h4>
                            <p [innerHTML]="item.curso?.objetivo"></p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <!-- End Schdule Day 1 -->

    </div>


</section><!-- End Schedule Section -->