<!-- ======= Speakers Section ======= -->
<section id="speakers">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>INSTRUCTORES DEL EVENTO</h2>
            <p>Instructores que participan</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="assets/img/speakers/1.jpg" alt="Speaker 1" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Christian Ivan Macias Mata</a></h3>
                        <p>Ingenierio Mecatronico</p>
                        <p>Instructor de la IECA</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="200">
                    <img src="assets/img/speakers/2.jpg" alt="Speaker 2" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Eduardo Salomon Rodriguez</a></h3>
                        <p>Ingeniero Automotriz</p>
                        <p>Instructor de la IECA</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                    <img src="assets/img/speakers/3.jpg" alt="Speaker 3" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Jose Alfredo Vazquez Moreno</a></h3>
                        <p>Tecnico Instrumentista</p>
                        <p>Intructor de la IECA</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                    <img src="assets/img/speakers/4.jpg" alt="Speaker 4" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Jose Carmen Cruz Serrano</a></h3>
                        <p>Ingeniero en Procesos de Produccion</p>
                        <p>Instructor de la IECA</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="200">
                    <img src="assets/img/speakers/5.jpg" alt="Speaker 5" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Jose Guadalupe Almanza Mireles</a></h3>
                        <p>Ingeniero Mecatronico/Electromecanico</p>
                        <p>Instructor de la IECA</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                    <img src="assets/img/speakers/6.jpg" alt="Speaker 6" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Jose Jesus Arroyo Gonzalez</a></h3>
                        <p>Maestria en Publicidad</p>
                        <p>Instructor de la IECA</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                    <img src="assets/img/speakers/6.jpg" alt="Speaker 7" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Juan Sergio Magdaleno Hernandez</a></h3>
                        <p>Ingeniero Industrial</p>
                        <p>Instructor de la IECA</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                    <img src="assets/img/speakers/6.jpg" alt="Speaker 8" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Karen Margoth Bermudez Mosiño</a></h3>
                        <p>Ingeniero en Sistemas Automotrices</p>
                        <p>Instructor de la IECA</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                    <img src="assets/img/speakers/6.jpg" alt="Speaker 9" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Luis Alfonso Ledesma Albarran</a></h3>
                        <p>Ingeniero Mecatronico</p>
                        <p>Instructor de la IECA</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                    <img src="assets/img/speakers/6.jpg" alt="Speaker 10" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">María De Los Angeles Gómez López</a></h3>
                        <p>Formacion de instructores / Secretaria de Desarrollo Económico</p>
                        <p>Instructor de la IECA</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                    <img src="assets/img/speakers/6.jpg" alt="Speaker 11" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Miguel Angel Sanchez Medrano</a></h3>
                        <p>Licenciado en Administracion Empresarial</p>
                        <p>Instructor de la IECA</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                    <img src="assets/img/speakers/6.jpg" alt="Speaker 12" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Oscar Omar Contreras Rojas</a></h3>
                        <p>Ingeniero en Procesos de Producción</p>
                        <p>Instructor de la IECA</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                    <img src="assets/img/speakers/6.jpg" alt="Speaker 13" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Ricardo Paris Reyes Estrada</a></h3>
                        <p>Ingeniero en Mecanica Industrial</p>
                        <p>Instructor de la IECA</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                    <img src="assets/img/speakers/6.jpg" alt="Speaker 14" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Teodoro Castro Del Valle</a></h3>
                        <p>Licenciado en Administracion Empresarial</p>
                        <p>Instructor de la IECA</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                    <img src="assets/img/speakers/6.jpg" alt="Speaker 15" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Tomas Tovar Gutierrez</a></h3>
                        <p>Ingeniero Mecatronico</p>
                        <p>Instructor de la IECA</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                    <img src="assets/img/speakers/6.jpg" alt="Speaker 16" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Ulises Lara Lugo</a></h3>
                        <p>Ingeniero Minero Metalurgico</p>
                        <p>Instructor de la IECA</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                    <img src="assets/img/speakers/6.jpg" alt="Speaker 17" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Brayan Daniel Guzmán Ambríz</a></h3>
                        <p>Ingeniero Industrial/p>
                        <p>Instructor de la UTS</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                    <img src="assets/img/speakers/6.jpg" alt="Speaker 18" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Francisco Javier Almanza Robles</a></h3>
                        <p>Maestro en Ingenieria Automotriz</p>
                        <p>Instructor de la UTS</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                    <img src="assets/img/speakers/6.jpg" alt="Speaker 19" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Javier Manjarrez Mendoza</a></h3>
                        <p>Maestría en Tecnologías Web y Desarrollo de Aplicaciones Móviles / Doctor en Ciencias de la Educacion</p>
                        <p>Instructor de la UTS</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                    <img src="assets/img/speakers/6.jpg" alt="Speaker 20" class="img-fluid">
                    <div class="details">
                        <h3><a href="speaker-details.html">Emmanuel Alejandro Hernandez Robles</a></h3>
                        <p>Ingeniero Electronico</p>
                        <p>Instructor de la UTS</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!-- End Speakers Section -->