<!-- ======= Contact Section ======= -->
<section id="contact" class="section-bg">

    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Contáctenos</h2>
            <p>En caso de cualquier duda usted puede enviarla a las siguientes opciones.</p>
        </div>

        <div class="row contact-info">

            <div class="col-md-4">
                <div class="contact-address">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Dirección</h3>
                    <address>Av. Universidad Tecnológica 200, Ciudad Bajío, 36766 Salamanca, Guanajuato, México
                    </address>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-phone">
                    <i class="bi bi-phone"></i>
                    <h3>Número de Teléfono</h3>
                    <p><a href="tel:4646473861">(464) 64 73861 ext.: 128 y 120</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-email">
                    <i class="bi bi-envelope"></i>
                    <h3>Email</h3>
                    <p>coinpi@utsalamanca.edu.mx</p>
                </div>
            </div>

        </div>

        <div class="form">
            <form [formGroup]="formularioContacto" (ngSubmit)="enviarFormulario()" class="php-email-form">
                <div class="row">
                    <div class="form-group col-md-4">
                        <input type="text" formControlName="nombre" class="form-control" placeholder="Tu nombre">
                        <div *ngIf="enviadoIntentado && formularioContacto.controls['nombre'].invalid" class="error">
                            <div *ngIf="formularioContacto.get('nombre')?.errors?.['required']">
                                El nombre es requerido.
                            </div>
                            <div *ngIf="formularioContacto.get('nombre')?.errors?.['minlength']">
                                El nombre debe tener al menos 4 caracteres.
                            </div>
                            <div *ngIf="formularioContacto.get('nombre')?.errors?.['maxlength']">
                                El nombre no debe exceder los 145 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4 mt-3 mt-md-0">
                        <input type="email" formControlName="email" class="form-control" placeholder="Tu Email">
                        <div *ngIf="enviadoIntentado && formularioContacto.controls['email'].invalid" class="error">
                            <div *ngIf="formularioContacto.get('email')?.errors?.['required']">
                                El email es requerido.
                            </div>
                            <div *ngIf="formularioContacto.get('email')?.errors?.['email']">
                                Ingresa una dirección de correo válida.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4 mt-3 mt-md-0">
                        <input type="text" formControlName="telefono" class="form-control" placeholder="Tu Teléfono">
                        <div *ngIf="enviadoIntentado && formularioContacto.controls['telefono'].invalid" class="error">
                            <div *ngIf="formularioContacto.get('telefono')?.errors?.['required']">
                                El teléfono es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <input type="text" formControlName="asunto" class="form-control" placeholder="Asunto">
                    <div *ngIf="enviadoIntentado && formularioContacto.controls['asunto'].invalid" class="error">
                        <div *ngIf="formularioContacto.get('asunto')?.errors?.['required']">
                            El asunto es requerido.
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" formControlName="mensaje" rows="5" placeholder="Mensaje"></textarea>
                    <div *ngIf="enviadoIntentado && formularioContacto.controls['mensaje'].invalid" class="error">
                        <div *ngIf="formularioContacto.get('mensaje')?.errors?.['required']">
                            El mensaje es requerido.
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4"><button type="submit">Enviar Mensaje</button></div>
            </form>
        </div>


    </div>
</section><!-- End Contact Section -->

