  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-4 footer-info">
            <div *ngFor="let evento of eventos">
              <img src="{{evento.logo}}" alt="TheEvenet">
              <p [innerHTML]="truncateText(evento.descripcion, 400)"></p>
              <a routerLink="acerca-de"> Ver Mas</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 footer-links">
            <h4>Links de uso</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#about">Acerca de</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#speakers">Instructores</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#schedule">Cronograma</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#venue">Lugar</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#hotels">Hoteles</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="articulos-carteles">Artículos/Carteles</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#contact">Contacto</a></li>

            </ul>
          </div>

          <div class="col-lg-4 col-md-4 footer-contact">
            <h4>Contactanos</h4>
            <p>
              Av. Universidad Tecnológica 200, Ciudad Bajío <br>
              36766 Salamanca, Guanajuato<br>
              México <br>
              <strong>Telefono:</strong> (464) 64 73861 ext.: 128 y 120<br>
              <strong>Email: </strong> coinpi.registro2023@utsalamanca.edu.mx
            </p>

            <div class="social-links">
              <a href="https://twitter.com/UTSoficial" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/UTSalamanca" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/utsoficial/" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Coinpi</strong>. Todos los derechos reservados
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
      -->
        Designed by <a href="https://www.utsalamanca.edu.mx/">Universidad Tecnológica de Salamanca</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

