<!-- ======= Venue Section ======= -->
<section id="venue">

    <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
            <h2>Lugar del evento</h2>
            <p>Locación, detalles y galería del lugar del evento</p>
        </div>

        <div class="row g-0">
            <div class="col-lg-6 venue-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3735.2748347819283!2d-101.2347030504733!3d20.57683100836295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842c85c965f8dd99%3A0xf0c50b96a2552383!2sUniversidad%20Tecnol%C3%B3gica%20de%20Salamanca!5e0!3m2!1ses-419!2smx!4v1679666750247!5m2!1ses-419!2smx"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="col-lg-6 venue-info">
                <div class="row justify-content-center">
                    <div class="col-11 col-lg-8 position-relative">
                        <h3>Universidad Tecnologica de Salamanca</h3>
                        <h3>IECA Plantel Salamanca</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="assets/img/venue-gallery/1.jpg" class="glightbox" data-gall="venue-gallery">
                        <img src="assets/img/venue-gallery/1.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="assets/img/venue-gallery/2.jpg" class="glightbox" data-gall="venue-gallery">
                        <img src="assets/img/venue-gallery/2.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="assets/img/venue-gallery/3.jpg" class="glightbox" data-gall="venue-gallery">
                        <img src="assets/img/venue-gallery/3.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="assets/img/venue-gallery/4.jpg" class="glightbox" data-gall="venue-gallery">
                        <img src="assets/img/venue-gallery/4.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="assets/img/venue-gallery/5.jpg" class="glightbox" data-gall="venue-gallery">
                        <img src="assets/img/venue-gallery/5.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="assets/img/venue-gallery/6.jpg" class="glightbox" data-gall="venue-gallery">
                        <img src="assets/img/venue-gallery/6.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="assets/img/venue-gallery/7.jpg" class="glightbox" data-gall="venue-gallery">
                        <img src="assets/img/venue-gallery/7.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="assets/img/venue-gallery/8.jpg" class="glightbox" data-gall="venue-gallery">
                        <img src="assets/img/venue-gallery/8.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

        </div>
    </div>

</section><!-- End Venue Section -->