<!-- ======= Seccion Evento Cultural ======= -->
<section id="evento-cultural" class="section-with-bg">

    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Eventos Culturales</h2>
            <p>Estos son algunos de los eventos culturales</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100" >
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="eventos-culturales">
                    <div class="evento-cultural-img">
                        <img src="assets/img/evento-cultural/los_reyes_del_bajio.png" alt="Evento 1" class="img-fluid">
                    </div>
                    <h3 class="mb-3"><a href="#" target="_blank">Los Reyes del Bajío</a></h3>
                    <!-- <p><a href="#" target="_blank"> Ver video</a></p> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="eventos-culturales">
                    <div class="evento-cultural-img">
                        <img src="assets/img/evento-cultural/los_prodigos.png" alt="Evento 2" class="img-fluid">
                    </div>
                    <h3 class="mb-3"><a href="#" target="_blank">Los Prodigos</a></h3>
                    <!-- <p><a href="#" target="_blank"> Ver video</a></p> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="eventos-culturales">
                    <div class="evento-cultural-img">
                        <img src="assets/img/evento-cultural/grupo_austero_del_bajio.png" alt="Evento 3" class="img-fluid">
                    </div>
                    <h3 class="mb-3"><a href="#" target="_blank">Grupo Austero del Bajío</a></h3>
                    <!-- <p><a href="#" target="_blank"> Ver video</a></p> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="eventos-culturales">
                    <div class="evento-cultural-img">
                        <img src="assets/img/evento-cultural/Edgar-Soria-grupal.jpg" alt="Evento 4" class="img-fluid">
                    </div>
                    <h3 class="mb-3"><a href="#" target="_blank">Edgar Soria</a></h3>
                    <!-- <p><a href="#" target="_blank"> Ver video</a></p> -->
                </div>
            </div>
        </div>    
            
    </div>

</section><!-- End Section -->
