<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <div *ngFor="let evento of eventos">
            <h1 class="mb-4 pb-0"> {{ evento.nombre }} </h1>
            <h2 class="mb-4 pb-0">12 y 13 de Octubre del 2023</h2>
            <p class="mb-4 pb-0"> {{ evento.lugar }} </p>
        </div>
        <a href="https://youtu.be/R-4ffO-QGBA" target="_blank" class="glightbox play-btn mb-4"></a>
        <a routerLink="acerca-de" class="about-btn scrollto">Acerca del Evento</a>
    </div>
</section><!-- End Hero Section -->