<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="mb-4 pb-0">Congreso Internacional<br><span>de Procesos</span> Industriales</h1>
        <p class="mb-4 pb-0">Septiembre del 2023, Universidad Tecnológica de Salamanca e IECA, Salamanca, GTO. </p>
        <a href="https://www.youtube.com/watch?v=OTkWjQnIeFs" target="_blank" class="glightbox play-btn mb-4"></a>
        <a href="#about" class="about-btn scrollto">Acerca del Evento</a>
    </div>
</section><!-- End Hero Section -->