<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100" *ngFor="let evento of eventos">
        <h1 class="mb-4 pb-0"> {{ evento.nombre }} </h1>
        <h2 class="mb-4 pb-0">Octubre 11 y 12  del 2023</h2> 
        <p class="mb-4 pb-0"> {{ evento.lugar }} </p>
        <a href="https://www.youtube.com/watch?v=OTkWjQnIeFs" target="_blank" class="glightbox play-btn mb-4"></a>
        <a href="#about" class="about-btn scrollto">Acerca del Evento</a>
    </div>
</section><!-- End Hero Section -->