<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="formularioRegistro" (ngSubmit)="enviarFormulario()" enctype="multipart/form-data">
                <div class="modal-body">
                    <label for="name">Nombre</label>
                    <input type="text" formControlName="nombre" placeholder="Nombre">
                    <div *ngIf="enviadoIntentado && formularioRegistro.controls['nombre'].invalid" class="error">
                        <div *ngIf="formularioRegistro.get('nombre')?.errors?.['required']">
                            El nombre es requerido.
                        </div>
                        <div *ngIf="formularioRegistro.get('nombre')?.errors?.['minlength']">
                            El nombre debe tener al menos 4 caracteres.
                        </div>
                        <div *ngIf="formularioRegistro.get('nombre')?.errors?.['maxlength']">
                            El nombre no debe exceder los 145 caracteres.
                        </div>
                    </div>

                    <label for="name">Apellido Paterno</label>
                    <input type="text" formControlName="apellido_paterno" placeholder="Apellido Paterno">
                    <div *ngIf="enviadoIntentado && formularioRegistro.controls['apellido_paterno'].invalid"
                        class="error">
                        <div *ngIf="formularioRegistro.get('apellido_paterno')?.errors?.['required']">
                            El apellido paterno es requerido.
                        </div>
                        <div *ngIf="formularioRegistro.get('apellido_paterno')?.errors?.['minlength']">
                            El apellido paterno debe tener al menos 4 caracteres.
                        </div>
                        <div *ngIf="formularioRegistro.get('apellido_paterno')?.errors?.['maxlength']">
                            El apellido paterno no debe exceder los 145 caracteres.
                        </div>
                    </div>

                    <label for="name">Apellido Materno</label>
                    <input type="text" formControlName="apellido_materno" placeholder="Apellido Materno">
                    <div *ngIf="enviadoIntentado && formularioRegistro.controls['apellido_materno'].invalid"
                        class="error">
                        <div *ngIf="formularioRegistro.get('apellido_materno')?.errors?.['required']">
                            El apellido materno es requerido.
                        </div>
                        <div *ngIf="formularioRegistro.get('apellido_materno')?.errors?.['minlength']">
                            El apellido materno debe tener al menos 4 caracteres.
                        </div>
                        <div *ngIf="formularioRegistro.get('apellido_materno')?.errors?.['maxlength']">
                            El apellido materno no debe exceder los 145 caracteres.
                        </div>
                    </div>

                    <label for="name">Escuela de Procedencia</label>
                    <input type="text" formControlName="escuela_procedencia" placeholder="Escuela de Procedencia">
                    <div *ngIf="enviadoIntentado && formularioRegistro.controls['escuela_procedencia'].invalid"
                        class="error">
                        <div *ngIf="formularioRegistro.get('escuela_procedencia')?.errors?.['required']">
                            La escuela de procedencia es requerida.
                        </div>
                        <div *ngIf="formularioRegistro.get('escuela_procedencia')?.errors?.['minlength']">
                            La escuela de procedencia debe tener al menos 3 caracteres.
                        </div>
                        <div *ngIf="formularioRegistro.get('escuela_procedencia')?.errors?.['maxlength']">
                            La escuela de procedencia no debe exceder los 145 caracteres.
                        </div>
                    </div>

                    <label for="name">Foto</label>
                    <input type="file" accept="image/png, image/jpeg" formControlName="foto" (change)="onImageChanged($event)" required>

                    <label for="name">Referencia</label>
                    <input type="text" formControlName="referencia" placeholder="Referencia">
                    <div *ngIf="enviadoIntentado && formularioRegistro.controls['referencia'].invalid" class="error">
                        <div *ngIf="formularioRegistro.get('referencia')?.errors?.['required']">
                            La referencia es requerida.
                        </div>
                        <div *ngIf="formularioRegistro.get('referencia')?.errors?.['minlength']">
                            La referencia debe tener al menos 4 caracteres.
                        </div>
                        <div *ngIf="formularioRegistro.get('referencia')?.errors?.['maxlength']">
                            La referencia no debe exceder los 145 caracteres.
                        </div>
                    </div>
                    <label for="name">Comprobante de Pago</label>
                    <input type="file" accept=".pdf, image/png, image/jpeg" formControlName="comprobante_pago" (change)="onFileChanged($event)" required>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" type="submit" value="Registrarse">
                </div>
            </form>
        </div>
    </div>
</div>