.loading {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);

  animation: loadingAppear 0.3s ease-in 0s forwards;
}

@keyframes loadingAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#hero {
  width: 100%;
  height: 420px;
  background: url(src/assets/img/hero-bg-article.PNG) top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

#registro {
  padding: 60px 0 60px 0;
}

label {
  font-weight: bold;
  margin-top: 25px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

#registro .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#registro .php-email-form .error-message br+br {
  margin-top: 25px;
}

#registro .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#registro .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#registro .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#registro .php-email-form input,
#registro .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#registro .php-email-form input:focus,
#registro .php-email-form textarea:focus {
  border-color: #f82249;
}

#registro .php-email-form input {
  padding: 10px 15px;
}

#registro .php-email-form textarea {
  padding: 12px 15px;
}

#registro .php-email-form button[type=submit] {
  background: #f82249;
  border: 0;
  padding: 10px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}

#registro .php-email-form button[type=submit]:hover {
  background: #e0072f;
}

#proceso-registro {
  margin: 0 15px 0 0;
}

.small,
small {
  font-size: 80%;
  font-weight: 400;
}

p {
  padding: 0;
  margin: 0 0 15px 0;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

label {
  margin-bottom: 7px;
}

.text-justify {
  text-align: justify;
}