<app-header></app-header>
<!-- ======= Hero Section ======= -->
<div *ngIf="pantallaCarga" class="loading">
    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
        <div class="spinner-border text-light" role="status" style="width: 6rem; height: 6rem;">
            <span class="sr-only"></span>
        </div>
    </div>
</div>
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="mb-4 pb-0">Registro </h1>
    </div>
</section><!-- End Hero Section -->
<!-- ======= Registro Section ======= -->
<section id="registro" class="section-bg">

    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-md-6">
                <div id="proceso-registro" class="text-justify">
                    <h2>Proceso de Registro</h2>
                    <p>Es necesario realizar primero el pago de inscripción al congreso el cual tendrá que ser por medio
                        de transferencia bancaria, posteriormente deberás realizar tu proceso de registro.</p>
                    <p>Los datos bancarios que deben de proporcionar para realizar la transferencia son los siguientes:
                    </p>

                    <p>Por medio de Spei(transferencias desde otro banco)</p>
                    <p class="font-weight-bold">Cuenta clabe:
                        <span class="font-weight-normal">030233900036029439</span>
                    </p>

                    <p>Por medio de Banco del Bajío</p>
                    <p class="font-weight-bold">Cuenta:
                        <span class="font-weight-normal">39046776-0103</span>
                    </p>

                    <p class="font-weight-bold">A nombre de:
                        <span class="font-weight-normal">Universidad Tecnológica de Salamanca Congreso</span>
                    </p>

                    <p class="font-weight-bold">Concepto:
                        <span class="font-weight-normal">COINPI</span>
                    </p>

                    <p>
                        <span class="font-weight-bold text-danger">Nota: </span>
                        Si tu aplicación te requiere una referencia déjala en blanco, esta se genera de manera
                        automática.
                    <p>

                    <p class="font-weight-bold">Monto a pagar:</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Tipo de participante</th>
                                <th scope="col">Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Estudiante UTyP</td>
                                <td>$ 1250.00</td>
                            </tr>
                            <tr>
                                <td>Docente - Directivo UTyP</td>
                                <td>$ 2000.00</td>
                            </tr>
                            <tr>
                                <td>Público General</td>
                                <td>$ 2500.00</td>
                            </tr>
                            <tr>
                                <td>Estudiantes Externos</td>
                                <td>$ 1500.00</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>Es indispensable llenar y firmar el siguiente Formato de Inscripción y Aviso de Privacidad y
                        adjuntarlo a tu inscripción
                        junto con tu comprobante de pago:</p>
                    <p>
                        <a href="assets/content/registro/Formato de Inscripción y Aviso de Privacidad.pdf"
                            class="btn btn-outline-primary" target="_blank">
                            <i class="bi bi-download"></i>
                            Formato de Inscripción y Aviso de Privacidad
                        </a>
                    </p>
                    <p>El formato deberá firmarse a mano alzada y anexar una copia del INE o copia de identificación
                        oficial. (Esta documentación es importante para poder realizar la constancia oficial del IECA).
                        Escanear toda la documentación y anexarla en el formulario de registro. Una vez cotejada la
                        información se notificará a través del correo coinpi.registro2023@utsalamanca.edu.mx en un lapso
                        de 5 días hábiles.</p>

                    <p>
                        <span class="font-weight-bold text-danger">Nota: </span>
                        Para el caso de Universidad o Empresa con varios registros a la vez, sigue los siguientes pasos:
                    <p>
                    <ol>
                        <li>Realiza en un solo pago la inscripción de todos los participantes.</li>
                        <li>Realiza el llenado del formulario de registro y anexa el comprobante de pago del total de
                            participantes, el formulario solicitará el formato de un solo participante correspondiente a
                            Formato de Inscripción y Aviso de Privacidad, te sugerimos anexes solo el de la persona a
                            cargo del
                            grupo.</li>
                        <li>
                            Descarga el Formato de Registro Masivo COINPI 2023 y llénalo con los datos solicitados,
                            excepto el
                            de la
                            persona
                            que realiza el registro en el formulario.
                            <p class="mt-2">
                                <a href="assets/content/registro/Formato de Registro Masivo COINPI 2023.xlsx"
                                    class="btn btn-outline-success" target="_blank">
                                    <i class="bi bi-download"></i>
                                    Formato de Registro Masivo COINPI 2023
                                </a>
                            </p>
                        </li>
                        <li>Descarga el Formato de Inscripción y Aviso de Privacidad,
                            y elabora uno por participante.</li>
                        <li>Todos los formatos deberán ser enviados al correo electrónico
                            coinpi.registro2023@utsalamanca.edu.mx, una vez cotejada la información se notificará a
                            través del mismo correo.</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Formulario de Registro</h2>
                <div class="form">
                    <form class="php-email-form" [formGroup]="formularioRegistro" (ngSubmit)="enviarFormulario()"
                        enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="nombre" style="margin-top: 0px;">Nombre <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                            <div *ngIf="enviadoIntentado && formularioRegistro.controls['nombre'].invalid"
                                class="error">
                                <div *ngIf="formularioRegistro.get('nombre')?.errors?.['required']">
                                    El nombre es requerido.
                                </div>
                                <div *ngIf="formularioRegistro.get('nombre')?.errors?.['minlength']">
                                    El nombre debe tener al menos 4 caracteres.
                                </div>
                                <div *ngIf="formularioRegistro.get('nombre')?.errors?.['maxlength']">
                                    El nombre no debe exceder los 145 caracteres.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="apellido_paterno">Apellido Paterno <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="apellido_paterno"
                                placeholder="Apellido Paterno">
                            <div *ngIf="enviadoIntentado && formularioRegistro.controls['apellido_paterno'].invalid"
                                class="error">
                                <div *ngIf="formularioRegistro.get('apellido_paterno')?.errors?.['required']">
                                    El apellido paterno es requerido.
                                </div>
                                <div *ngIf="formularioRegistro.get('apellido_paterno')?.errors?.['maxlength']">
                                    El apellido paterno no debe exceder los 145 caracteres.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="apellido_materno">Apellido Materno <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="apellido_materno"
                                placeholder="Apellido Materno">
                            <div *ngIf="enviadoIntentado && formularioRegistro.controls['apellido_materno'].invalid"
                                class="error">
                                <div *ngIf="formularioRegistro.get('apellido_materno')?.errors?.['required']">
                                    El apellido materno es requerido.
                                </div>
                                <div *ngIf="formularioRegistro.get('apellido_materno')?.errors?.['maxlength']">
                                    El apellido materno no debe exceder los 145 caracteres.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email <span class="text-danger">*</span></label>
                            <input type="email" class="form-control" formControlName="email" placeholder="Email">
                            <div *ngIf="enviadoIntentado && formularioRegistro.controls['email'].invalid" class="error">
                                <div *ngIf="formularioRegistro.get('email')?.errors?.['required']">
                                    El email es requerido.
                                </div>
                                <div *ngIf="formularioRegistro.get('email')?.errors?.['email']">
                                    Ingresa una dirección de correo válida.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="tipo_participante">Tipo de participante <span
                                    class="text-danger">*</span></label>
                            <select class="form-control" formControlName="tipo_participante"
                                (change)="tipoParticipanteChanged()">
                                <option value="" disabled selected>Selecciona una opción...</option>
                                <option value="estudiante_utyp">Estudiante UTyP</option>
                                <option value="docente_directivo_utyp">Docente - Directivo UTyP</option>
                                <option value="publico_general">Público General</option>
                                <option value="estudiantes_externos">Estudiantes Externos</option>
                            </select>
                            <div *ngIf="enviadoIntentado && formularioRegistro.controls['tipo_participante'].invalid"
                                class="error">
                                <div *ngIf="formularioRegistro.get('tipo_participante')?.errors?.['required']">
                                    El tipo de participante es requerido.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="universidad_empresa">Universidad o Empresa <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="universidad_empresa"
                                placeholder="Universidad o Empresa">
                            <div *ngIf="enviadoIntentado && formularioRegistro.controls['universidad_empresa'].invalid"
                                class="error">
                                <div *ngIf="formularioRegistro.get('universidad_empresa')?.errors?.['required']">
                                    La universidad o empresa es requerida.
                                </div>
                                <div *ngIf="formularioRegistro.get('universidad_empresa')?.errors?.['minlength']">
                                    La universidad o empresa debe tener al menos 3 caracteres.
                                </div>
                                <div *ngIf="formularioRegistro.get('universidad_empresa')?.errors?.['maxlength']">
                                    La universidad o empresa no debe exceder los 145 caracteres.
                                </div>
                            </div>
                        </div>

                        <div class="form-group"
                            *ngIf="formularioRegistro.get('tipo_participante')?.value === 'estudiante_utyp'">
                            <label for="matricula">Matrícula <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="matricula" placeholder="Matrícula">
                            <div *ngIf="enviadoIntentado && formularioRegistro.controls['matricula'].invalid"
                                class="error">
                                <div *ngIf="formularioRegistro.get('matricula')?.errors?.['required']">
                                    La matrícula es requerida.
                                </div>
                            </div>
                        </div>

                        <div class="form-group"
                            *ngIf="formularioRegistro.get('tipo_participante')?.value === 'docente_directivo_utyp'">
                            <label for="numero_empleado">Número de empleado <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="numero_empleado"
                                placeholder="Número de empleado">
                            <div *ngIf="enviadoIntentado && formularioRegistro.controls['numero_empleado'].invalid"
                                class="error">
                                <div *ngIf="formularioRegistro.get('numero_empleado')?.errors?.['required']">
                                    El número de empleado es requerido.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="taller">Taller <span class="text-danger">*</span></label>
                            <select class="form-control" formControlName="taller" ng-model="taller_field">
                                <option value="" disabled selected>Selecciona una opción...</option>
                                <ng-container *ngFor="let item of cursos">
                                    <option value="{{item.id}}">{{item.nombre}}</option>
                                </ng-container>
                            </select>
                            <div *ngIf="enviadoIntentado && formularioRegistro.controls['taller'].invalid"
                                class="error">
                                <div *ngIf="formularioRegistro.get('taller')?.errors?.['required']">
                                    El taller es requerido.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dia_taller">Día de ingreso al taller <span class="text-danger">*</span></label>
                            <select class="form-control" formControlName="dia_taller">
                                <option value="" disabled selected>Selecciona una opción...</option>
                                <option value="jueves">Jueves</option>
                                <option value="viernes">Viernes</option>
                            </select>
                            <div *ngIf="enviadoIntentado && formularioRegistro.controls['dia_taller'].invalid"
                                class="error">
                                <div *ngIf="formularioRegistro.get('dia_taller')?.errors?.['required']">
                                    El día de ingreso al taller es requerido.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="visita_industrial">Visita industrial <span class="text-danger">*</span></label>
                            <select class="form-control" formControlName="visita_industrial"
                                ng-model="visita_industrial_field">
                                <option value="" disabled selected>Selecciona una opción...</option>
                                <ng-container *ngFor="let item of empresas">
                                    <option value="{{item.id}}" *ngIf="item.visita_industrial === true">{{item.nombre}}
                                    </option>
                                </ng-container>
                            </select>
                            <div *ngIf="enviadoIntentado && formularioRegistro.controls['visita_industrial'].invalid"
                                class="error">
                                <div *ngIf="formularioRegistro.get('visita_industrial')?.errors?.['required']">
                                    El campo visita industrial es requerido.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dia_visita">Día visita industrial <span class="text-danger">*</span></label>
                            <select class="form-control" formControlName="dia_visita">
                                <option value="" disabled selected>Selecciona una opción...</option>
                                <option value="jueves" disabled>Jueves</option>
                                <option value="viernes" disabled>Viernes</option>
                            </select>
                            <p><small>Este campo se completa automáticamente al seleccionar el día de ingreso al taller.
                                    Debido a que el día de la visita industrial no puede ser el mismo que el día de
                                    ingreso al taller.</small></p>
                            <div *ngIf="enviadoIntentado && formularioRegistro.controls['dia_visita'].invalid"
                                class="error">
                                <div *ngIf="formularioRegistro.get('dia_visita')?.errors?.['required']">
                                    El día de la visita industrial es requerido.
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="referencia">Referencia <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="referencia"
                                placeholder="Referencia">
                            <p>
                                <span class="font-weight-bold text-danger">Nota: </span>
                                Esta debe ser la que arroja el banco emisor tras realizada la transferencia.
                            <p>
                            <div *ngIf="enviadoIntentado && formularioRegistro.controls['referencia'].invalid"
                                class="error">
                                <div *ngIf="formularioRegistro.get('referencia')?.errors?.['required']">
                                    La referencia es requerida.
                                </div>
                                <div *ngIf="formularioRegistro.get('referencia')?.errors?.['minlength']">
                                    La referencia debe tener al menos 4 caracteres.
                                </div>
                                <div *ngIf="formularioRegistro.get('referencia')?.errors?.['maxlength']">
                                    La referencia no debe exceder los 145 caracteres.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="comprobante_pago">Comprobante de Pago <span class="text-danger">*</span></label>
                            <input type="file" class="form-control" formControlName="comprobante_pago"
                                accept=".pdf, image/png, image/jpeg" (change)="onFileComprobantePagoChanged($event)">
                            <div *ngIf="enviadoIntentado && formularioRegistro.controls['comprobante_pago'].invalid"
                                class="error">
                                <div *ngIf="formularioRegistro.get('comprobante_pago')?.errors?.['required']">
                                    El comprobante de pago es requerido.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="formato_inscripcion">Formato de Inscripción y Aviso de Privacidad <span
                                    class="text-danger">*</span></label>
                            <input type="file" class="form-control" formControlName="formato_inscripcion" accept=".pdf"
                                (change)="onFileFormatoInscripcionChanged($event)">
                            <div *ngIf="enviadoIntentado && formularioRegistro.controls['formato_inscripcion'].invalid"
                                class="error">
                                <div *ngIf="formularioRegistro.get('formato_inscripcion')?.errors?.['required']">
                                    El formato de inscripción es requerido.
                                </div>
                            </div>
                        </div>

                        <div class="text-center mt-4">
                            <button type="submit">Enviar Registro</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Registro Section -->


<app-footer></app-footer>