<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="mb-4 pb-0">Bases</h1>
    </div>
</section>

<div class="container" id="info_bases_presentacion_articulos">
    <h1 class="text-center mb-5"><br>Bases para la presentacion de articulos</h1>
    <p class="text-justify">
La Universidad Tecnológica de Salamanca, en el marco del COINPI, convoca a la comunidad científica a presentar trabajos originales de investigación, desarrollo tecnológico e innovación en las siguientes áreas:
<br>
<br>
· Ingeniería en Procesos Productivos
<br>
· Ingeniería Industrial
<br>
· Ingeniería en Mecatrónica
<br>
· Ingeniería en Robótica
<br>
· Ingeniería de Producción
<br>
· Ingeniería Electrónica
<br>
· Ingeniería Eléctrica
<br>
· Áreas afines
<br>
<br>
1. Se aceptan trabajos únicamente en español.
<br>
2. Los trabajos deberán ser inéditos y elaborar una carta de cesión de los derechos de autor a favor de la Revista tecnológica.
<br>
3. Los trabajos tendrán una extensión máxima de 5 cuartillas, o el equivalente a 2,790 palabras.
<br>
4. Los trabajos pueden ser presentados hasta un máximo de tres autores.
<br>
5. No se aceptan trabajos de política o asuntos públicos.
<br>
6. Los trabajos deben presentarse en formato de Word, tipo de letra arial 11, la extensión será de máximo 5 cuartillas, con márgenes de 3 centímetros, las páginas deben estar numeradas al centro y abajo.
<br>
7. El título debe ser breve, máximo 20 palabras y evitar el uso de gerundios.
<br>
8. El resumen es un párrafo, extensión máxima de 150 palabras, en donde se incluyen los aspectos más importantes del trabajo.
<br>
9. Palabras clave: cinco palabras como máximo, diferentes a las del título y en orden alfabético.
<br>
10. Introducción. Hay que enunciar el problema a abordar, justificación, fundamentación teórica, y objetivos.
<br>
11. Materiales y método. Incluir la información utilizada para el desarrollo del trabajo. Que es lo que se pretende medir, descubrir o explicar y el diseño utilizado para el estudio, si se cuenta con él.
<br>
12. Resultados y discusión. Organizar los resultados en forma concisa, incluir esquemas para presentar la información y el análisis.
<br>
13. Conclusiones. Son afirmaciones breves y concretas que se traducen en aportaciones al conocimiento, que deben estar sustentadas en el trabajo.
<br>
14. Fuentes de información o referencias
<br>
15. Para la escritura descargar la plantilla de artículo.
<br>
<br>
Para más información, consultar la página de la revista tecnológica CEA en el siguiente enlace:
<a href="https://revistatecnologicacea.mx/articulos/">Revista tecnologica CEA</a>
    </p>
</div>
<div class="container" id="info_bases_presentacion_carteles">
    <h1 class="text-center mb-5">Bases para la presentacion de cárteles</h1>
    <p class="text-justify">

La Universidad Tecnológica de Salamanca, en el marco del COINPI, convoca a la comunidad Universitaria de docentes y estudiantes a presentar cárteles de trabajos originales con la finalidad de promover y difundir entre los sectores académico, productivo y social lo que se realiza dentro de las Universidades, en las siguientes áreas:
<br>
<br>
· Ingeniería en Procesos Productivos
<br>
· Ingeniería Industrial
<br>
· Ingeniería en Mecatrónica
<br>
· Ingeniería en Robótica
<br>
· Ingeniería de Producción
<br>
· Ingeniería Electrónica
<br>
· Ingeniería Eléctrica
<br>
· Áreas afines
<br>
<br>
1. Se aceptan trabajos únicamente en español.
<br>
2. Los cárteles podrán ser presentados de manera individual o en equipo de un máximo de cuatro integrantes.
<br>
3. Cada autor o autores podrá inscribir solo un trabajo ya sea de cártel o de artículo.
<br>
4. La presentación de cárteles se llevará a cabo en las instalaciones del Centro de alta especialidad automotriz (IECA plantel Salamanca) de acuerdo con los siguientes lineamientos:
<br>
<br>
<b>Del diseño</b>
<br>
<br>
· Su medida debe ser 90 por 120 cm.
<br>
· En la esquina superior izquierda colocar el logo del Congreso y en la esquina superior derecha el logo de la(s) institución (es).
<br>
· De preferencia utilizara letra Arial 54 para el nombre del proyecto, Arial 44 para los títulos de sección, Arial 36 para el resumen y Arial 40 para el cuerpo de sección (puede usar letra más pequeña si lo requiere).
<br>
· Contenido mínimo: a) Logotipos, b) Título del trabajo, c) Nombre de los autores, d) Datos de adscripción de los autores y un correo electrónico, e) Resumen, f) Palabras clave (tres), g) Introducción, h) Desarrollo, i) Resultados, j) Conclusiones y k) Referencias bibliográficas y agradecimientos (si es requerido).
<br>
· Debe ser práctico, atractivo y fácil de leer.
<br>
· Cuidar el uso de solo mayúsculas, eso dificulta la lectura.
<br>
· Usar mensajes cortos, con viñetas, columnas, cuadros y gráficas.
<br>
· El uso de colores debe ser para resaltar algunas partes, cuidar el color del fondo para no afectar la lectura.
<br>
· Pueden numerarse sus partes para facilitar la presentación; su organización debe ser de izquierda a derecha y de arriba hacia abajo.
<br>
· Los autores tienen completa libertad en organizar la información del contenido como consideren más conveniente, utilizar el color de papel que deseen, así como utilizar el tipo y el tamaño de letra que mejor consideren
<br>
· Las imágenes con una resolución suficiente para que puedan observarse los detalles que deseen mostrar los autores.
<br>
<br>
<b>Del contenido</b>
<br>
<br>
· Encabezado: título, autores e institución (logotipo)
<br>
· Resumen: no repetir el título, incluir desde introducción hasta conclusiones (150 palabras máximo).
<br>
· Introducción: explicar el problema y describir el objetivo.
<br>
· Desarrollo: explicar cómo se hizo el trabajo y el análisis de datos.
<br>
· Resultados: informa sobre los hallazgos y evidencias, usar cuadros o gráficas.
<br>
· Conclusiones: lo que se quiere resaltar.
<br>
· Referencias.
<br>
<br>
<b>De la redacción</b>
<br>
<br>
· Cuidar ortografía y puntuación.
<br>
· Usar textos cortos, claros y concisos para facilitar su interpretación.
<br>
· Ser coherente, cuidar la relación lógica entre oraciones y párrafos.
<br>
· Usar lenguaje profesional y técnico.
<br>
<br>
<b>Fechas relevantes</b>
<br>
<br>
<b>· Recepción de cárteles:</b> del 19 de mayo de 2023 al 9 de septiembre de 2023
<br>
<b>· Límite para respuesta a la revisión y decisión final:</b> 2 de octubre de 2023
<br>
<b>· Límite para él envió de la versión final del cártel con las correcciones realizadas, en caso de haber observaciones:</b> 12 de octubre de 2023
<br>
<br>
<b>Envío de cártel</b>
<br>
<br>
· Para el envío del cártel poner en el asunto del mensaje <b>cártel_nombre de la Universidad de procedencia</b> y nombrar el archivo como: cartel_nombre completo de quien lo envía · Enviarlo al correo: <a href=mailto:coinpi@utsalamanca.edu.mx>coinpi@utsalamanca.edu.mx</a>
<br>
<br>
<b>Nota: No se tomarán en cuenta los cárteles que no sigan las indicaciones de envío ni fuera de tiempo.</b>
</p>
</div>
<hr>    

<div class="container_boton" id="plantilla_de_articulos">
    <b><p>Has click en el siguiente boton para descargar la plantilla para la publicacion de articulos:</p></b>
    <a href="src\assets\bases\Plantilla de articulo.docx" download="Plantilla de Articulo COINPI.docx" class="boton-descarga">Plantilla de Articulo</a>
</div>
<br>
<br>

<app-footer></app-footer>