<app-header-page></app-header-page>
<main id="main" class="main-page">

    <!-- =======Acerca de Section ======= -->
    <section id="acerca-de-details">
        <div class="container">
            <div class="section-header">
                <h2>Acerca de</h2>
                <p>Congreso Internacional de Procesos Industriales</p>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="details">
                        <h2>Objetivo</h2>
                        <p>Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio
                            dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio
                            voluptas et.</p>
                        <h2>Competencias</h2>
                        <p>Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio
                            dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio
                            voluptas et.</p>
                        <h2>Introducción</h2>
                        <p>Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio
                            dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio
                            voluptas et.</p>


                    </div>
                </div>

            </div>
        </div>

    </section>

</main>
<app-footer></app-footer>