<section id="acerca-de">
    <div class="container" data-aos="fade-up">
        <div class="col-lg-6">
            <h1>Acerca de COINPI</h1>
            <h2>Introduccion</h2>
            <p> Este congreso surge con el propósito de analizar, debatir, consensuar y fortalecer 
                el rol de cooperación Universidad-Empresa en el fomento del liderazgo y el desarrollo 
                social reuniendo a investigadores de diversas universidades, representantes de empresas 
                y otras partes interesadas (IECA); por consiguiente, ofrece oportunidades para compartir 
                experiencias, intercambiar buenas prácticas, crear redes y aprender mutuamente. 
            </p>

            <p> La Universidad Tecnológica de salamanca en alianza con Centro de Alta Especialidad IECA, 
                plantel salamanca, ofertan el COINPI 2023, en el cuál podrás fortalecer tu perfil de 
                egreso y potencializar tu inserción en el campo productivo de las Organizaciones 
                Nacionales e Internacionales.
            </p>
                
            <p> El congreso se celebrará en modalidad Presencial, con conferencias magistrales, 
                talleres con valor curricular, publicación de memoria de congreso en revista arbitrada e 
                indexada. 
            </p>
            </div>
        <div class="col-lg-3">  
            <h2>Objetivo</h2>
            <p>Fomentar e incentivar el desarrollo profesional de los futuros profesionistas de México, 
                a través de actividades que les permitan identificar las tendencias y herramientas 
                actuales de la ingeniería, para que su inserción en el mercado laboral sea exitosa y de 
                gran impacto ante un mundo globalizado. 
            </p>
        </div>
        <div class="col-lg-3">
            <h2>Competencias del congreso</h2>
            <p>Fortalecer a los profesionistas líderes en los Procesos Industriales que contribuyan al 
                desarrollo tecnológico y humano de las empresas regionales e Internacionales con 
                capacidad de comunicación, tecnología y eficiencia, que les permitan insertarse en el 
                sector productivo para optimizar los procesos productivos de forma sustentable.
            </p>
        </div>
    </div>
</section>