#hero {
    width: 100%;
    height: 420px;
    background: url(src/assets/img/hero-bg-article.PNG) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#acerca-de {
    padding: 60px 0 60px 0;
}

.text-justify {
    text-align: justify !important;
}