<!-- ======= About Section ======= -->
<section id="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6" *ngFor="let evento of eventos">
                <h2>Acerca de COINPI</h2>
                <p [innerHTML]="evento.descripcion"></p>
                    <a routerLink="acerca-de"> Ver Mas</a>
            </div>
            <div class="col-lg-3">
                <h3>¿Donde?</h3>
                <p>Universidad Tecnologica de Salamanca.</p>
                <p>IECA Plantel Salamanca.</p>
                <p>Salamanca, Guanajuato, Mexico.</p>
            </div>
            <div class="col-lg-3">
                <h3>¿Cuando?</h3>
                <p>Octubre<br>11 y 12 del 2023</p>
            </div>
        </div>
    </div>
</section><!-- End About Section -->