<!-- ======= About Section ======= -->
<section id="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6">
                <h2>Acerca de COINPI</h2>
                <p>Este congreso surge con el propósito de analizar, debatir, consensuar y fortalecer el rol de cooperación Universidad-Empresa en el fomento del liderazgo y el desarrollo social reuniendo a investigadores de diversas universidades, representantes de empresas y otras partes interesadas (IECA); por consiguiente, ofrece oportunidades para compartir experiencias, intercambiar buenas prácticas, crear redes y aprender mutuamente.</p> 

                <p>La Universidad Tecnológica de salamanca en alianza con Centro de Alta Especialidad IECA, plantel salamanca, ofertan el COINPI 2023, en el cuál podrás fortalecer tu perfil de egreso y potencializar tu inserción en el campo productivo de las Organizaciones Nacionales e Internacionales.</p> 
                    
                <p>El congreso se celebrará en modalidad Presencial, con conferencias magistrales, talleres con valor curricular, publicación de memoria de congreso en revista arbitrada e indexada.</p>
            </div>
            <div class="col-lg-3">
                <h3>¿Donde?</h3>
                <p>Universidad Tecnologica de Salamanca e IECA.</p>
                <p>Salamanca, Guanajuato, Mexico.</p>
            </div>
            <div class="col-lg-3">
                <h3>¿Cuando?</h3>
                <p>Septiembre<br>09-2023</p>
            </div>
        </div>
    </div>
</section><!-- End About Section -->