<!-- ======= About Section ======= -->
<section id="about">
    <div class="container" data-aos="fade-up">
        <div class="row" *ngFor="let evento of eventos">
            <div class="col-lg-6">
                <h2>Acerca de COINPI</h2>
                <p [innerHTML]="truncateText(evento.descripcion, 400)"></p>
                    <a routerLink="acerca-de"> Ver Mas</a>
            </div>
            <div class="col-lg-3">
                <h3>¿Donde?</h3>
                <p>{{ evento.lugar }}</p>
            </div>
            <div class="col-lg-3">
                <h3>¿Cuando?</h3>
                <p>11 y 12 de Octubre del 2023</p>
            </div>
        </div>
    </div>
</section><!-- End About Section -->