<!-- ======= Hotels Section ======= -->
<section id="hotels" class="section-with-bg">

    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Hoteles</h2>
            <p>Estos son algunos de los hoteles recomendados</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-4 col-md-6">
                <div class="hotel">
                    <div class="hotel-img">
                        <img src="assets/img/hotels/1.jpg" alt="Hotel 1" class="img-fluid">
                    </div>
                    <h3><a href="#">Hampton Inn & Suites by Hilton Salamanca Bajio</a></h3>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <p>Carretera federal 45km. 100 + 500 Tramo Irapuato-Salamanca 36875, Salamanca Guanajuato T.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="hotel">
                    <div class="hotel-img">
                        <img src="assets/img/hotels/2.jpg" alt="Hotel 2" class="img-fluid">
                    </div>
                    <h3><a href="#">Hilton Garden Inn Salamanca</a></h3>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <p>Av. Prolongacion Morelos No. 2500 Col. El Pirul 36765, Salamanca Guanajuato</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="hotel">
                    <div class="hotel-img">
                        <img src="assets/img/hotels/2.jpg" alt="Hotel 2" class="img-fluid">
                    </div>
                    <h3><a href="#">City Express Salamanca</a></h3>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <p>Blvrd. Faja De Oro 1805 Col. El Pirul 36740, Salamanca Guanajuato</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="hotel">
                    <div class="hotel-img">
                        <img src="assets/img/hotels/2.jpg" alt="Hotel 2" class="img-fluid">
                    </div>
                    <h3><a href="#">Casa Inn Irapuato</a></h3>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <p>Las Villas 621 Col. 1ro de mayo 36644, Irapuato Guanajuato</p>
                </div>
            </div>

        </div>
    </div>

</section><!-- End Hotels Section -->